html,
body {
  height: 100%;
}

.container {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.item-container {
  position: absolute;
  width: auto;
  height: auto;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
